body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4f4f4;
}
nav {
background-color: #0036aa;
padding: 15px;
text-align: center;
}
nav a {
color: white;
text-decoration: none;
margin: 0 15px;
}
nav a:hover {
color: yellow;
}
p {
text-align: center;
font-size: 18px;
}
.gallery {
text-align: center;
margin: 50px;
overflow: hidden;
}

.gallery img {

margin: 10px;
border-radius: 8px;
max-width: 400px;
height: 400px;
justify-content: space-between;
transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0 8px 8px rgba(1, 116, 151, 0.8);
}

.gallery img:hover{
    transform: scale(1.05);
}

.footer{
    padding: 5rem;
}